- if @page
  .border.padding
    - case @page.single_key
    - when 'home'
    - else
      %h1
        = @page.title
    = @page.page_cols.first.content
    - @page.page_cols.first.blocks.each do |block|
      - unless block.content.blank?
        .border.padding
          = block.content
  - content_for :rightboxes do
    - blocks = @page.content.last + @page.page_cols.last.content
    - @page.page_cols.last.blocks.each do |block|
      - unless block.content.blank?
        .border.avantages.padding
          = block.content
- else
  = t('page.not_found').capitalize
