!!!1.1
%html{ 'xml:lang' => 'fr', :lang => 'fr', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title
      Business on rails
    %meta{ 'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8' }
    %link{ :href => 'favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    %link{ :href => 'favicon.ico', :rel => 'shortcut icon', :type => 'image/x-icon' }
    = stylesheet_link_tag '/stylesheets/bor/base.css'
    = stylesheet_link_tag '/stylesheets/bor/960.css'
    = stylesheet_link_tag '/car.css'
    = javascript_include_tag %w(jquery front/jquery.jcarousel.pack front/inits)
    = yield :js
  %body
    .container_12
      .grid_12.header.alpha
        .alpha.omega.grid_2
          .logo
        .grid_10
          %ul#top-menu.right
            - [["home", "Accueil", "#{Page.find_by_single_key('home').url}"], |
               ["account", "Mon compte", "#"],                                |
               ["mail", "Contactez-nous", "#"]                                |
              ].each do |c, t, h|                                             |
              %li
                .icons{ :class => "#{c}" }
                %a.brown{ :href => "#{h}" }
                  = t

        .grid_2
        - [["Ruby on Rails", "Découvrez le framework de développement agile", "#"],      |
           ["Témoignages", "Pourquoi ils ont adopté Ruby on Rails ?", "#"],              |
           ["annuaire", "sites et applications réalisées avec ruby on rails", "/sites"], |
           ["Actualités", "Dernières news autour du framework", "#"],                    |
           ["Job on Rails", "Offres et demande d’emploi d’experts", "#"]                 |
          ].each do |t, d, h|                                                            |
          .grid_2
            .btn
              .red-button-left
              .red-button.bold
                %a{ :href => "#{h}", :title => "#{d}" }
                  = t
              .red-button-right
            %p.brown.bold
              = d
      .clear
    .container_12
      = yield
    .container_12
      .grid_12
        .btn
          .red-button-left
          .red-button.bold.footer
            - footer_menu = Menu.find_by_single_key('footer-menu')
            - if footer_menu
              = display_menu(footer_menu, :li_current_class => 'active')
          .red-button-right
